# Lab | Customer Analysis Round 2

In [1]:
import pandas as pd
import numpy as np
# import os
# working_directory = os.getcwd()
# print(working_directory)

### Dealing with the data

In [2]:
#### 1.show the dateframe shape

In [3]:
cus_anlys_r2 = pd.read_csv('./csv_files/marketing_customer_analysis.csv')
display(cus_anlys_r2.head())
cus_anlys_r2.shape
print('DataFrame Shape :', cus_anlys_r2.shape)

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

DataFrame Shape : (10910, 26)

### 2. Standardize header names.

#### to standerdise headers can be done by using different ways, we are using for loop and range for that

In [4]:
cols = []
for i in range(len(cus_anlys_r2.columns)):
    cols.append(cus_anlys_r2.columns[i].lower())
cus_anlys_r2.columns = cols
display(cus_anlys_r2.columns)

display(cus_anlys_r2)

Index(['unnamed: 0', 'customer', 'state', 'customer lifetime value',
       'response', 'coverage', 'education', 'effective to date',
       'employmentstatus', 'gender', 'income', 'location code',
       'marital status', 'monthly premium auto', 'months since last claim',
       'months since policy inception', 'number of open complaints',
       'number of policies', 'policy type', 'policy', 'renew offer type',
       'sales channel', 'total claim amount', 'vehicle class', 'vehicle size',
       'vehicle type'],
      dtype='object')

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

#### The unnamed row is an additional information about rows which is not required in this. So we can drop that by using drop functionm

In [5]:
cus_anlys_r2 = cus_anlys_r2.drop(['unnamed: 0'], axis=1)

cus_anlys_r2

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,0,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

#### dropping dupplicates is one of the part of data cleaning. by this command we can takeout the duplicate or repeated data. 

#### by doing this you can observe that number of rows in a data has been reduced from 10910 rows to 10873 rows

In [6]:
cus_anlys_r2.drop_duplicates()
cus_anlys_r2 = cus_anlys_r2.drop_duplicates()
cus_anlys_r2

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,0,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

### 3. Which columns are numerical?

#### to know the numerical variables in the data we can use the following command

##### we can see that 8 of them are numerical values

In [7]:
cus_anlys_r2._get_numeric_data().T

,0,1,2,3,4,5,6,7,8,9,...,10900,10901,10902,10903,10904,10905,10906,10907,10908,10909
customer lifetime value,4809.21696,2228.525238,14947.9173,22332.439460,9025.067525,4745.181764,5035.035257,4956.247235,5989.773931,17114.32815,...,6423.739052,4547.892543,3579.023825,2771.663013,19228.46362,15563.36944,5259.444853,23893.304100,11971.977650,6857.519928
income,48029.00000,0.000000,22139.0000,49078.000000,23675.000000,50549.000000,37405.000000,87197.000000,66839.000000,70961.00000,...,0.000000,33531.000000,28304.000000,59855.000000,0.00000,0.00000,61146.000000,39837.000000,64195.000000,0.000000
monthly premium auto,61.00000,64.000000,100.0000,97.000000,117.000000,61.000000,63.000000,63.000000,154.000000,85.00000,...,188.000000,116.000000,91.000000,74.000000,187.00000,253.00000,65.000000,201.000000,158.000000,101.000000
months since last claim,7.00000,3.000000,34.0000,10.000000,NaN,2.000000,8.000000,35.000000,33.000000,19.00000,...,5.000000,11.000000,10.000000,30.000000,14.00000,NaN,7.000000,11.000000,0.000000,31.000000
months since policy inception,52.00000,26.000000,31.0000,3.000000,31.000000,73.000000,99.000000,45.000000,24.000000,8.00000,...,67.000000,15.000000,30.000000,82.000000,32.00000,40.00000,68.000000,63.000000,27.000000,1.000000
number of open complaints,0.00000,0.000000,0.0000,0.000000,NaN,0.000000,3.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,2.000000,4.000000,0.00000,NaN,0.000000,0.000000,4.000000,0.000000
number of policies,9.00000,1.000000,2.0000,2.000000,7.000000,7.000000,4.000000,3.000000,1.000000,2.00000,...,1.000000,1.000000,1.000000,1.000000,2.00000,7.00000,6.000000,2.000000,6.000000,3.000000
total claim amount,292.80000,744.924331,480.0000,484.013411,707.925645,292.800000,287.556107,247.402353,739.200000,408.00000,...,1621.560425,801.577478,655.200000,355.200000,897.60000,1214.40000,273.018929,381.306996,618.288849,1021.719397

### 4. Which columns are categorical?

#### There are defferent  ways to observe the categorical data here we are data types funtion for that

##### 17 rows are actually catagorical datatypes

In [8]:
#nominal_attr = df.select_dtypes(include='category').columns

cus_anlys_r2.select_dtypes(['object']).T
#cus_anlys_r2.select_dtypes(include='object').columns


#cus_anlys_r2 = cus_anlys_r2.select_dtypes(include='object').columns
#cus_anlys_r2

,0,1,2,3,4,5,6,7,8,9,...,10900,10901,10902,10903,10904,10905,10906,10907,10908,10909
customer,DK49336,KX64629,LZ68649,XL78013,QA50777,HO81102,IW72280,IH64929,FM55990,QX31376,...,VN73653,RY92254,PP30874,SU71163,QI63521,FE99816,KX53892,TL39050,WA60547,IV32877
state,Arizona,California,Washington,Oregon,Oregon,NaN,California,California,California,Oregon,...,Oregon,Washington,California,Arizona,Nevada,Nevada,Oregon,Arizona,California,NaN
response,No,No,No,Yes,No,NaN,No,No,Yes,No,...,No,No,No,No,No,No,No,No,No,NaN
coverage,Basic,Basic,Basic,Extended,Premium,Basic,Basic,Basic,Premium,Extended,...,Basic,Premium,Extended,Basic,Basic,Premium,Basic,Extended,Premium,Basic
education,College,College,Bachelor,College,Bachelor,High School or Below,Doctor,High School or Below,College,Master,...,College,Bachelor,High School or Below,College,High School or Below,Bachelor,College,Bachelor,College,Bachelor
effective to date,2/18/11,1/18/11,2/10/11,1/11/11,1/17/11,2/14/11,2/14/11,2/24/11,1/19/11,1/4/11,...,2/13/11,1/13/11,1/24/11,1/7/11,2/24/11,1/19/11,1/6/11,2/6/11,2/13/11,1/8/11
employmentstatus,Employed,Unemployed,Employed,Employed,Medical Leave,Employed,Employed,Employed,Employed,Employed,...,Unemployed,Employed,Employed,Employed,Unemployed,Unemployed,Employed,Employed,Employed,Unemployed
gender,M,F,M,M,F,M,F,M,M,F,...,M,M,F,M,M,F,F,F,F,M
location code,Suburban,Suburban,Suburban,Suburban,Suburban,Suburban,Urban,Urban,Suburban,Suburban,...,Suburban,Suburban,Suburban,Suburban,Suburban,Suburban,Urban,Rural,Urban,Suburban
marital status,Married,Single,Single,Single,Married,Divorced,Married,Single,Single,Married,...,Single,Married,Married,Married,Single,Married,Married,Married,Divorced,Single
policy type,Corporate Auto,Personal Auto,Personal Auto,Corporate Auto,Personal Auto,Personal Auto,Corporate Auto,Personal Auto,Personal Auto,Corporate Auto,...,Corporate Auto,Personal Auto,Personal Auto,Personal Auto,Personal Auto,Personal Auto,Personal Auto,Corporate Auto,Personal Auto,Personal Auto
policy,Corporate L3,Personal L3,Personal L3,Corporate L3,Personal L2,Personal L3,Corporate L2,Personal L2,Personal L1,Corporate L3,...,Corporate L2,Personal L3,Personal L2,Personal L2,Personal L2,Personal L1,Personal L3,Corporate L3,Personal L1,Personal L1
renew offer type,Offer3,Offer4,Offer3,Offer2,Offer1,Offer1,Offer2,Offer2,Offer2,Offer2,...,Offer3,Offer4,Offer2,Offer2,Offer1,Offer3,Offer2,Offer1,Offer1,Offer4
sales channel,Agent,Call Center,Call Center,Branch,Branch,Agent,Branch,Branch,Branch,Agent,...,Agent,Agent,Agent,Branch,Branch,Web,Branch,Web,Branch,Web
vehicle class,Four-Door Car,Four-Door Car,SUV,Four-Door Car,Four-Door Car,Four-Door Car,Four-Door Car,Two-Door Car,Sports Car,Four-Door Car,...,Luxury SUV,Two-Door Car,Four-Door Car,Two-Door Car,Luxury SUV,Luxury Car,Four-Door Car,Luxury SUV,SUV,SUV
vehicle size,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Small,...,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize
vehicle type,NaN,NaN,A,A,NaN,A,NaN,NaN,NaN,NaN,...,NaN,NaN,A,A,A,A,A,NaN,A,NaN

### 5. Check and deal with NaN values.

#### To check and deal with the NaN values here., we use .isna().sum() which actually returns the number of missing values in each column

In [9]:
cus_anlys_r2.isna().sum()

customer                            0
state                             614
customer lifetime value             0
response                          614
coverage                            0
education                           0
effective to date                   0
employmentstatus                    0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim           623
months since policy inception       0
number of open complaints         623
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     608
vehicle size                      608
vehicle type                     5465
dtype: int64

#### shows the percentage of null values in a column

In [10]:
round(cus_anlys_r2.isna().sum()/len(cus_anlys_r2),4)*100  # shows the percentage of null values in a column

customer                          0.00
state                             5.65
customer lifetime value           0.00
response                          5.65
coverage                          0.00
education                         0.00
effective to date                 0.00
employmentstatus                  0.00
gender                            0.00
income                            0.00
location code                     0.00
marital status                    0.00
monthly premium auto              0.00
months since last claim           5.73
months since policy inception     0.00
number of open complaints         5.73
number of policies                0.00
policy type                       0.00
policy                            0.00
renew offer type                  0.00
sales channel                     0.00
total claim amount                0.00
vehicle class                     5.59
vehicle size                      5.59
vehicle type                     50.26
dtype: float64

### 5. Check and deal with NaN values.

In [11]:
# Replacing/imputing null values
cus_anlys_r2[cus_anlys_r2['vehicle type'].isna()==True].T # checking rows that are null based on a specific column

,0,1,4,6,7,8,9,11,12,14,...,10888,10890,10891,10893,10894,10898,10900,10901,10907,10909
customer,DK49336,KX64629,QA50777,IW72280,IH64929,FM55990,QX31376,GE63585,EO51920,TL59568,...,MN95006,VQ78876,UV43859,CG69038,EX63393,SO95845,VN73653,RY92254,TL39050,IV32877
state,Arizona,California,Oregon,California,California,California,Oregon,NaN,Oregon,Arizona,...,California,Oregon,Oregon,Washington,NaN,California,Oregon,Washington,Arizona,NaN
customer lifetime value,4809.21696,2228.525238,9025.067525,5035.035257,4956.247235,5989.773931,17114.32815,2420.711888,19955.25713,12836.00951,...,6928.601611,4660.399573,8840.193762,4817.992644,6314.492009,5807.659307,6423.739052,4547.892543,23893.3041,6857.519928
response,No,No,No,No,No,Yes,No,NaN,No,No,...,No,No,No,No,NaN,No,No,No,No,NaN
coverage,Basic,Basic,Premium,Basic,Basic,Premium,Extended,Basic,Extended,Premium,...,Basic,Basic,Basic,Basic,Extended,Basic,Basic,Premium,Extended,Basic
education,College,College,Bachelor,Doctor,High School or Below,College,Master,Bachelor,High School or Below,High School or Below,...,Bachelor,Bachelor,High School or Below,College,Master,College,College,Bachelor,Bachelor,Bachelor
effective to date,2/18/11,1/18/11,1/17/11,2/14/11,2/24/11,1/19/11,1/4/11,2/7/11,1/31/11,2/28/11,...,1/10/11,2/3/11,1/22/11,2/26/11,2/27/11,1/7/11,2/13/11,1/13/11,2/6/11,1/8/11
employmentstatus,Employed,Unemployed,Medical Leave,Employed,Employed,Employed,Employed,Employed,Employed,Unemployed,...,Employed,Employed,Employed,Employed,Employed,Employed,Unemployed,Employed,Employed,Unemployed
gender,M,F,F,F,M,M,F,M,F,M,...,M,F,F,M,F,F,M,M,F,M
income,48029,0,23675,37405,87197,66839,70961,31710,69096,0,...,22907,89834,47297,38157,66947,62447,0,33531,39837,0
location code,Suburban,Suburban,Suburban,Urban,Urban,Suburban,Suburban,Urban,Rural,Suburban,...,Rural,Rural,Suburban,Rural,Suburban,Rural,Suburban,Suburban,Rural,Suburban
marital status,Married,Single,Married,Married,Single,Single,Married,Divorced,Married,Married,...,Married,Married,Married,Married,Married,Single,Single,Married,Married,Single
monthly premium auto,61,64,117,63,63,154,85,62,99,116,...,180,116,115,61,78,74,188,116,201,101
months since last claim,7.0,3.0,NaN,8.0,35.0,33.0,19.0,5.0,24.0,6.0,...,13.0,24.0,10.0,2.0,13.0,9.0,5.0,11.0,11.0,31.0
months since policy inception,52,26,31,99,45,24,8,29,32,28,...,86,11,46,39,12,2,67,15,63,1
number of open complaints,0.0,0.0,NaN,3.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
number of policies,9,1,7,4,3,1,2,1,2,2,...,1,1,4,4,6,7,1,1,2,3
policy type,Corporate Auto,Personal Auto,Personal Auto,Corporate Auto,Personal Auto,Personal Auto,Corporate Auto,Corporate Auto,Corporate Auto,Personal Auto,...,Personal Auto,Corporate Auto,Personal Auto,Personal Auto,Personal Auto,Personal Auto,Corporate Auto,Personal Auto,Corporate Auto,Personal Auto
policy,Corporate L3,Personal L3,Personal L2,Corporate L2,Personal L2,Personal L1,Corporate L3,Corporate L3,Corporate L3,Personal L2,...,Personal L2,Corporate L3,Personal L3,Personal L3,Personal L1,Personal L3,Corporate L2,Personal L3,Corporate L3,Personal L1
renew offer type,Offer3,Offer4,Offer1,Offer2,Offer2,Offer2,Offer2,Offer1,Offer1,Offer3,...,Offer4,Offer1,Offer2,Offer3,Offer3,Offer4,Offer3,Offer4,Offer1,Offer4
sales channel,Agent,Call Center,Branch,Branch,Branch,Branch,Agent,Call Center,Agent,Agent,...,Call Center,Branch,Web,Branch,Agent,Call Center,Agent,Agent,Web,Web
total claim amount,292.8,744.924331,707.925645,287.556107,247.402353,739.2,408.0,199.551735,64.669515,835.2,...,49.18776,43.15595,796.130111,81.53233,374.4,133.977857,1621.560425,801.577478,381.306996,1021.719397
vehicle class,Four-Door Car,Four-Door Car,Four-Door Car,Four-Door Car,Two-Door Car,Sports Car,Four-Door Car,Two-Door Car,Four-Door Car,Two-Door Car,...,Luxury SUV,NaN,SUV,Two-Door Car,Four-Door Car,Two-Door Car,Luxury SUV,Two-Door Car,Luxury SUV,SUV
vehicle size,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Small,Medsize,Medsize,Medsize,...,Medsize,NaN,Medsize,Medsize,Small,Medsize,Medsize,Medsize,Medsize,Medsize
vehicle type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
cus_anlys_r2[cus_anlys_r2['vehicle size'].isna()==True].T# checking rows that are null based on a specific column

,87,88,89,97,148,163,186,205,224,261,...,10739,10761,10770,10790,10812,10852,10860,10879,10883,10890
customer,ZH92587,CJ51511,ME37450,CA22248,HB24005,TP34946,BG42047,YZ19736,KL65897,HZ56678,...,HX72126,QO54008,TN50051,BN45584,CA22248,KZ80424,GA79817,FK95213,FD64348,VQ78876
state,Oregon,Arizona,Arizona,Oregon,California,California,Nevada,Arizona,California,Oregon,...,Nevada,Oregon,California,Oregon,NaN,Washington,Arizona,California,Oregon,Oregon
customer lifetime value,8126.766397,13466.92071,5210.348372,2505.42043,2347.048112,5108.038755,2511.944048,2580.849899,6331.338496,2780.196856,...,21112.53624,13419.39623,2957.764017,4034.926461,2505.42043,8382.478392,2369.111588,18611.45356,22563.61838,4660.399573
response,No,Yes,No,No,No,No,No,Yes,No,No,...,No,No,No,No,NaN,Yes,No,No,No,No
coverage,Basic,Basic,Basic,Basic,Basic,Basic,Basic,Basic,Extended,Basic,...,Extended,Extended,Basic,Basic,Basic,Basic,Basic,Extended,Basic,Basic
education,College,High School or Below,Bachelor,Master,College,College,College,College,Bachelor,High School or Below,...,Bachelor,Master,Doctor,College,Master,Bachelor,Bachelor,Master,High School or Below,Bachelor
effective to date,2/22/11,2/23/11,1/4/11,2/14/11,2/2/11,1/9/11,1/15/11,2/9/11,2/21/11,1/12/11,...,2/22/11,1/8/11,2/6/11,2/23/11,2/14/11,1/27/11,2/5/11,1/16/11,1/17/11,2/3/11
employmentstatus,Disabled,Disabled,Employed,Employed,Employed,Disabled,Medical Leave,Employed,Unemployed,Disabled,...,Unemployed,Unemployed,Employed,Unemployed,Employed,Employed,Unemployed,Employed,Employed,Employed
gender,F,F,M,F,M,M,M,M,F,F,...,F,M,F,F,F,M,M,F,M,F
income,14616,11432,89781,60546,31617,26784,17658,46900,0,20261,...,0,0,83318,0,60546,25998,0,49673,23046,89834
location code,Suburban,Suburban,Rural,Rural,Urban,Suburban,Suburban,Suburban,Rural,Suburban,...,Rural,Suburban,Urban,Suburban,Rural,Suburban,Suburban,Urban,Rural,Rural
marital status,Married,Married,Single,Single,Single,Married,Married,Married,Married,Divorced,...,Married,Divorced,Divorced,Single,Single,Married,Single,Married,Married,Married
monthly premium auto,107,119,66,63,62,67,65,66,87,72,...,81,122,73,112,63,71,65,232,65,116
months since last claim,NaN,NaN,7.0,21.0,17.0,14.0,10.0,13.0,3.0,4.0,...,12.0,15.0,21.0,8.0,21.0,16.0,8.0,27.0,18.0,24.0
months since policy inception,73,9,89,71,29,82,44,59,82,55,...,59,11,42,28,71,38,91,57,7,11
number of open complaints,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0
number of policies,3,2,5,1,1,8,1,1,3,1,...,2,2,1,1,1,2,1,7,2,1
policy type,Personal Auto,Corporate Auto,Special Auto,Personal Auto,Personal Auto,Corporate Auto,Personal Auto,Personal Auto,Personal Auto,Personal Auto,...,Personal Auto,Personal Auto,Personal Auto,Special Auto,Personal Auto,Personal Auto,Corporate Auto,Personal Auto,Personal Auto,Corporate Auto
policy,Personal L3,Corporate L3,Special L2,Personal L3,Personal L1,Corporate L3,Personal L3,Personal L2,Personal L2,Personal L2,...,Personal L3,Personal L3,Personal L1,Special L3,Personal L3,Personal L2,Corporate L2,Personal L3,Personal L3,Corporate L3
renew offer type,Offer1,Offer2,Offer1,Offer2,Offer1,Offer3,Offer3,Offer2,Offer1,Offer4,...,Offer3,Offer1,Offer3,Offer3,Offer2,Offer2,Offer3,Offer2,Offer4,Offer1
sales channel,Agent,Agent,Agent,Branch,Agent,Branch,Web,Web,Branch,Web,...,Branch,Call Center,Web,Branch,Branch,Call Center,Call Center,Web,Branch,Branch
total claim amount,513.6,571.2,37.960537,46.278027,244.269407,482.4,312.0,316.8,94.714302,345.6,...,136.848554,827.786203,211.336937,806.4,46.278027,791.878042,468.0,1021.654003,1.687291,43.15595
vehicle class,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
vehicle size,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
vehicle type,NaN,NaN,A,A,A,NaN,A,A,A,A,...,A,NaN,NaN,A,A,A,NaN,NaN,A,NaN

In [13]:
nulls_df = pd.DataFrame(round(cus_anlys_r2.isna().sum()/len(cus_anlys_r2),4)*100)
nulls_df

#nulls_df.columns = ['header_name', 'percent_nulls']
#nulls_df

                                   0
customer                        0.00
state                           5.65
customer lifetime value         0.00
response                        5.65
coverage                        0.00
education                       0.00
effective to date               0.00
employmentstatus                0.00
gender                          0.00
income                          0.00
location code                   0.00
marital status                  0.00
monthly premium auto            0.00
months since last claim         5.73
months since policy inception   0.00
number of open complaints       5.73
number of policies              0.00
policy type                     0.00
policy                          0.00
renew offer type                0.00
sales channel                   0.00
total claim amount              0.00
vehicle class                   5.59
vehicle size                    5.59
vehicle type                   50.26

In [14]:
#columns_drop = nulls_df[nulls_df['percent_nulls']>3]['header_name']  # dummy case with 3
#print(columns_drop.values)
#donors = donors.drop(columns_drop, axis=1)  # drop a list of columns DO NOT RUN THIS
#donors = donors.drop(['gender'], axis=1)  # drop a single column DO NOT RUN THIS

In [15]:
# Replacing/imputing null values
#donors[donors['gender'].isna()==True].head(60) # checking rows that are null based on a specific column

In [16]:
cus_anlys_r2.isnull().sum()

customer                            0
state                             614
customer lifetime value             0
response                          614
coverage                            0
education                           0
effective to date                   0
employmentstatus                    0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim           623
months since policy inception       0
number of open complaints         623
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     608
vehicle size                      608
vehicle type                     5465
dtype: int64

In [17]:
#cus_anlys_r2.loc[df["columns"].isnull(),"columns"] = cus_anlys_r2["columns"].quantile(0.5)
cus_anlys_r2.shape
cus_anlys_r2.isnull()

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
10906,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10907,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
10908,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10909,False,True,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [18]:
cus_anlys_r2.isnull().sum() # this gives total sum of null values in each column

customer                            0
state                             614
customer lifetime value             0
response                          614
coverage                            0
education                           0
effective to date                   0
employmentstatus                    0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim           623
months since policy inception       0
number of open complaints         623
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     608
vehicle size                      608
vehicle type                     5465
dtype: int64

In [19]:
cus_anlys_r2.isnull().sum().sum()    # if we want to just a total number of null values then this command will help

9155

# Filling null values

In [20]:
cus_anlys_r2_fNaN = cus_anlys_r2.fillna(value = 0)
cus_anlys_r2_fNaN

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,0
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,0
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,0.0,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,0.0,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,0
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,IV32877,0,6857.519928,0,Basic,Bachelor,1/8/11,Unemployed,M,0,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,0

In [21]:
cus_anlys_r2_fNaN.isnull().sum().sum() #checking the null values over all NaN values were replaced by zero

0

In [22]:
# There are so many other ways to deal with null values 

#cus_anlys_r2.fillna(value = cus_anlys_r2[''].mean())

#cus_anlys_r2.fillna({'response':'btw'})



#cus_anlys_r2 = cus_anlys_r2.dropna(how = 'all') 

#replace 

#cus_anlys_r2 = cus_anlys_r2.replace(to_replace= np.nan, value = '')

#cus_anlys_r2 = cus_anlys_r2.replace(to_replace= '<anyvalue>', value = '<intended value>')

#Interpolate using linear method

#cus_anlys_r2['response'] = cus_anlys_r2['response'].interpolate(method = 'linear')

#Interpolate using limit with forward values

#cus_anlys_r2['response'] = cus_anlys_r2['response'].interpolate(method = 'linear', limit_direction = 'forward')


# data filling with intended values in different columns

# cus_anlys_modi_null = cus_anlys_r2.fillna({
#                          'response' : 'btw',
#                         'months since last claim' :'',
#                         'number of open complaints' : '',
#                         'vehicle class': '',
#                         'vehicle size': '',
#                         'vehicle type': ''
                        
#     })

# cus_anlys_modi_null = cus_anlys_modi_null.replace({
#                                     'state' : '[A-Za-z]',
#                                     'response' : '[A-Za-z]'
                                    
    
#     }),'',regex = True)

# cus_anlys_modi_null = cus_anlys_modi_null.replace(['','','',''], ['','','',''])

In [23]:
# cus_anlys_r2 = = cus_anlys_r2.fillna({
#                          'response' : '',
#                         'months since last claim' :'',
#                         'number of open complaints' : '',
#                         'vehicle class': '',
#                         'vehicle size': '',
#                         'vehicle type': ''
#                        })


cus_anlys_r2.shape

(10873, 25)

### To test the null files I have looked into the files I have a created a Test.

In [24]:
cus_anlys_r2_test = cus_anlys_r2.fillna({
                            'state' : 'unknown',
                            'response' : 'btw',
                            'months since last claim' :'',
                            'number of open complaints' : '',
                            'vehicle class': '',
                            'vehicle size': '',
                            'vehicle type': 'no info'
                            })
cus_anlys_r2_test

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,no info
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,no info
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,no info
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,no info
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,IV32877,unknown,6857.519928,btw,Basic,Bachelor,1/8/11,Unemployed,M,0,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,no info

In [25]:
cus_anlys_r2.dtypes

customer                          object
state                             object
customer lifetime value          float64
response                          object
coverage                          object
education                         object
effective to date                 object
employmentstatus                  object
gender                            object
income                             int64
location code                     object
marital status                    object
monthly premium auto               int64
months since last claim          float64
months since policy inception      int64
number of open complaints        float64
number of policies                 int64
policy type                       object
policy                            object
renew offer type                  object
sales channel                     object
total claim amount               float64
vehicle class                     object
vehicle size                      object
vehicle type                      object
dtype: object

In [26]:
cus_anlys_r2_test.isnull()

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10906,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10907,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10908,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10909,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [27]:
#df['Month'] = pd.DatetimeIndex(df['Date']).month
# dt = pd.date_range("January","March")
# idx =pd.DatetimeIndex(dt)
# cus_anlys_r2= cus_anlys_r2.reindex(idx)
# df

### Now I wanted to apply clearing null values as I looked at the test

##### After looking at the missing values deeply and by judging on their requirement we can delete the unnecessary file by using the follwing command for a individual data variables.

In [28]:
import statistics as stats
stats.mode(cus_anlys_r2['state'])
cus_anlys_r2.columns= cus_anlys_r2.columns.str.lower().str.replace(' ', '_')
cus_anlys_r2['state'].fillna(stats.mode(cus_anlys_r2['state']), inplace=True)
cus_anlys_r2['response'].fillna(stats.mode(cus_anlys_r2['response']), inplace=True)
cus_anlys_r2['vehicle_class'].fillna(stats.mode(cus_anlys_r2['vehicle_class']), inplace=True)
cus_anlys_r2['vehicle_size'].fillna(stats.mode(cus_anlys_r2['vehicle_size']), inplace=True)

C:\Users\satur\AppData\Local\Temp\ipykernel_1720\3351604866.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cus_anlys_r2['state'].fillna(stats.mode(cus_anlys_r2['state']), inplace=True)
C:\Users\satur\AppData\Local\Temp\ipykernel_1720\3351604866.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cus_anlys_r2['response'].fillna(stats.mode(cus_anlys_r2['response']), inplace=True)
C:\Users\satur\AppData\Local\Temp\ipykernel_1720\3351604866.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cus_anlys_r2['vehicle_class'].fillna(stats.mode(cus_anlys_r2['vehicle_class']), inplace=True)
C:\Users\satur\AppData\Local\Temp\ipykernel_1720\3351604866.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cus_anlys_r2['vehicle_size'].fillna(stats.mode(cus_anlys_r2['vehicle_size']), inplace=True)

In [29]:
cus_anlys_r2.T

,0,1,2,3,4,5,6,7,8,9,...,10900,10901,10902,10903,10904,10905,10906,10907,10908,10909
customer,DK49336,KX64629,LZ68649,XL78013,QA50777,HO81102,IW72280,IH64929,FM55990,QX31376,...,VN73653,RY92254,PP30874,SU71163,QI63521,FE99816,KX53892,TL39050,WA60547,IV32877
state,Arizona,California,Washington,Oregon,Oregon,California,California,California,California,Oregon,...,Oregon,Washington,California,Arizona,Nevada,Nevada,Oregon,Arizona,California,California
customer_lifetime_value,4809.21696,2228.525238,14947.9173,22332.43946,9025.067525,4745.181764,5035.035257,4956.247235,5989.773931,17114.32815,...,6423.739052,4547.892543,3579.023825,2771.663013,19228.46362,15563.36944,5259.444853,23893.3041,11971.97765,6857.519928
response,No,No,No,Yes,No,No,No,No,Yes,No,...,No,No,No,No,No,No,No,No,No,No
coverage,Basic,Basic,Basic,Extended,Premium,Basic,Basic,Basic,Premium,Extended,...,Basic,Premium,Extended,Basic,Basic,Premium,Basic,Extended,Premium,Basic
education,College,College,Bachelor,College,Bachelor,High School or Below,Doctor,High School or Below,College,Master,...,College,Bachelor,High School or Below,College,High School or Below,Bachelor,College,Bachelor,College,Bachelor
effective_to_date,2/18/11,1/18/11,2/10/11,1/11/11,1/17/11,2/14/11,2/14/11,2/24/11,1/19/11,1/4/11,...,2/13/11,1/13/11,1/24/11,1/7/11,2/24/11,1/19/11,1/6/11,2/6/11,2/13/11,1/8/11
employmentstatus,Employed,Unemployed,Employed,Employed,Medical Leave,Employed,Employed,Employed,Employed,Employed,...,Unemployed,Employed,Employed,Employed,Unemployed,Unemployed,Employed,Employed,Employed,Unemployed
gender,M,F,M,M,F,M,F,M,M,F,...,M,M,F,M,M,F,F,F,F,M
income,48029,0,22139,49078,23675,50549,37405,87197,66839,70961,...,0,33531,28304,59855,0,0,61146,39837,64195,0
location_code,Suburban,Suburban,Suburban,Suburban,Suburban,Suburban,Urban,Urban,Suburban,Suburban,...,Suburban,Suburban,Suburban,Suburban,Suburban,Suburban,Urban,Rural,Urban,Suburban
marital_status,Married,Single,Single,Single,Married,Divorced,Married,Single,Single,Married,...,Single,Married,Married,Married,Single,Married,Married,Married,Divorced,Single
monthly_premium_auto,61,64,100,97,117,61,63,63,154,85,...,188,116,91,74,187,253,65,201,158,101
months_since_last_claim,7.0,3.0,34.0,10.0,NaN,2.0,8.0,35.0,33.0,19.0,...,5.0,11.0,10.0,30.0,14.0,NaN,7.0,11.0,0.0,31.0
months_since_policy_inception,52,26,31,3,31,73,99,45,24,8,...,67,15,30,82,32,40,68,63,27,1
number_of_open_complaints,0.0,0.0,0.0,0.0,NaN,0.0,3.0,0.0,0.0,0.0,...,0.0,0.0,2.0,4.0,0.0,NaN,0.0,0.0,4.0,0.0
number_of_policies,9,1,2,2,7,7,4,3,1,2,...,1,1,1,1,2,7,6,2,6,3
policy_type,Corporate Auto,Personal Auto,Personal Auto,Corporate Auto,Personal Auto,Personal Auto,Corporate Auto,Personal Auto,Personal Auto,Corporate Auto,...,Corporate Auto,Personal Auto,Personal Auto,Personal Auto,Personal Auto,Personal Auto,Personal Auto,Corporate Auto,Personal Auto,Personal Auto
policy,Corporate L3,Personal L3,Personal L3,Corporate L3,Personal L2,Personal L3,Corporate L2,Personal L2,Personal L1,Corporate L3,...,Corporate L2,Personal L3,Personal L2,Personal L2,Personal L2,Personal L1,Personal L3,Corporate L3,Personal L1,Personal L1
renew_offer_type,Offer3,Offer4,Offer3,Offer2,Offer1,Offer1,Offer2,Offer2,Offer2,Offer2,...,Offer3,Offer4,Offer2,Offer2,Offer1,Offer3,Offer2,Offer1,Offer1,Offer4
sales_channel,Agent,Call Center,Call Center,Branch,Branch,Agent,Branch,Branch,Branch,Agent,...,Agent,Agent,Agent,Branch,Branch,Web,Branch,Web,Branch,Web
total_claim_amount,292.8,744.924331,480.0,484.013411,707.925645,292.8,287.556107,247.402353,739.2,408.0,...,1621.560425,801.577478,655.2,355.2,897.6,1214.4,273.018929,381.306996,618.288849,1021.719397
vehicle_class,Four-Door Car,Four-Door Car,SUV,Four-Door Car,Four-Door Car,Four-Door Car,Four-Door Car,Two-Door Car,Sports Car,Four-Door Car,...,Luxury SUV,Two-Door Car,Four-Door Car,Two-Door Car,Luxury SUV,Luxury Car,Four-Door Car,Luxury SUV,SUV,SUV
vehicle_size,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Small,...,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize
vehicle_type,NaN,NaN,A,A,NaN,A,NaN,NaN,NaN,NaN,...,NaN,NaN,A,A,A,A,A,NaN,A,NaN

In [31]:
cus_anlys_r2 = cus_anlys_r2.fillna({
                           'vehicle_type': 'no_info'
                            })
cus_anlys_r2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10873 entries, 0 to 10909
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       10873 non-null  object
 1   state                          10873 non-null  object
 2   customer_lifetime_value        10873 non-null  float64
 3   response                       10873 non-null  object
 4   coverage                       10873 non-null  object
 5   education                      10873 non-null  object
 6   effective_to_date              10873 non-null  object
 7   employmentstatus               10873 non-null  object
 8   gender                         10873 non-null  object
 9   income                         10873 non-null  int64
 10  location_code                  10873 non-null  object
 11  marital_status                 10873 non-null  object
 12  monthly_premium_auto           10873 non-null  int64
 13  months_since_last_claim        10250 non-null  float64
 14  months_since_policy_inception  10873 non-null  int64
 15  number_of_open_complaints      10250 non-null  float64
 16  number_of_policies             10873 non-null  int64
 17  policy_type                    10873 non-null  object
 18  policy                         10873 non-null  object
 19  renew_offer_type               10873 non-null  object
 20  sales_channel                  10873 non-null  object
 21  total_claim_amount             10873 non-null  float64
 22  vehicle_class                  10873 non-null  object
 23  vehicle_size                   10873 non-null  object
 24  vehicle_type                   10873 non-null  object
dtypes: float64(4), int64(4), object(17)
memory usage: 2.4+ MB

In [49]:
cus_anlys_r2

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,no_info,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,no_info,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,no_info,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,0,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,no_info,2
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,IV32877,California,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,0,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,no_info,1

#### We have to use mean or median for some data variables to find the reasonable values.

In [33]:
np.mean(cus_anlys_r2['months_since_last_claim'])

15.145073170731708

In [35]:
np.median(cus_anlys_r2['months_since_last_claim'])

nan

In [36]:
cus_anlys_r2['months_since_last_claim'].fillna(np.mean(cus_anlys_r2['months_since_last_claim']), inplace=True)

In [38]:
np.median(cus_anlys_r2['number_of_open_complaints'])

nan

In [40]:
np.mean(cus_anlys_r2['number_of_open_complaints'])

0.3835121951219512

#### Most of the values are zero therefore we add the median.

In [43]:
cus_anlys_r2['number_of_open_complaints'].fillna(np.mean(cus_anlys_r2['number_of_open_complaints']), inplace=True)

In [44]:
cus_anlys_r2.isna().sum()

customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
dtype: int64

### 6. Datetime format - 

###### Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie. January, February and March. Hint: If data from March does not exist, consider only January and February.

In [45]:
cus_anlys_r2['effective_to_date'] = pd.to_datetime(cus_anlys_r2['effective_to_date'], errors='coerce')

In [48]:
# df['month'] = pd.DatetimeIndex(df['effective_to_date']).month
cus_anlys_r2['month'] = cus_anlys_r2['effective_to_date'].dt.month
cus_anlys_r2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10873 entries, 0 to 10909
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       10873 non-null  object
 1   state                          10873 non-null  object
 2   customer_lifetime_value        10873 non-null  float64
 3   response                       10873 non-null  object
 4   coverage                       10873 non-null  object
 5   education                      10873 non-null  object
 6   effective_to_date              10873 non-null  datetime64[ns]
 7   employmentstatus               10873 non-null  object
 8   gender                         10873 non-null  object
 9   income                         10873 non-null  int64
 10  location_code                  10873 non-null  object
 11  marital_status                 10873 non-null  object
 12  monthly_premium_auto           10873 non-null  int64
 13  months_since_last_claim        10873 non-null  float64
 14  months_since_policy_inception  10873 non-null  int64
 15  number_of_open_complaints      10873 non-null  float64
 16  number_of_policies             10873 non-null  int64
 17  policy_type                    10873 non-null  object
 18  policy                         10873 non-null  object
 19  renew_offer_type               10873 non-null  object
 20  sales_channel                  10873 non-null  object
 21  total_claim_amount             10873 non-null  float64
 22  vehicle_class                  10873 non-null  object
 23  vehicle_size                   10873 non-null  object
 24  vehicle_type                   10873 non-null  object
 25  month                          10873 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(5), object(16)
memory usage: 2.5+ MB

##### below command is used to print a particular month

In [84]:
cus_anlys_r2.loc[cus_anlys_r2['month'] == 3]

Empty DataFrame
Columns: [customer, state, customer_lifetime_value, response, coverage, education, effective_to_date, employmentstatus, gender, income, location_code, marital_status, monthly_premium_auto, months_since_last_claim, months_since_policy_inception, number_of_open_complaints, number_of_policies, policy_type, policy, renew_offer_type, sales_channel, total_claim_amount, vehicle_class, vehicle_size, vehicle_type, month]
Index: []

[0 rows x 26 columns]

##### where there is no which of month March which named as 3 not existing we show data only for January and February

In [85]:
cus_anlys_r2[cus_anlys_r2['month'].isin([1,2])]

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,no_info,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,no_info,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,no_info,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,0,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,no_info,2
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,IV32877,California,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,0,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,no_info,1

In [91]:
#newdf = cus_anlys_r2[(cus_anlys_r2.effective_to_date == "") & (cus_anlys_r2.month == "3")]
#newdf

Empty DataFrame
Columns: [customer, state, customer_lifetime_value, response, coverage, education, effective_to_date, employmentstatus, gender, income, location_code, marital_status, monthly_premium_auto, months_since_last_claim, months_since_policy_inception, number_of_open_complaints, number_of_policies, policy_type, policy, renew_offer_type, sales_channel, total_claim_amount, vehicle_class, vehicle_size, vehicle_type, month]
Index: []

[0 rows x 26 columns]

In [99]:
cus_anlys_r2[cus_anlys_r2['month'].isin([1,2])]

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,no_info,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,no_info,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,no_info,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,0,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,no_info,2
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,IV32877,California,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,0,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,no_info,1

### Bonus: Put all the previously mentioned data transformations into a function.

In [96]:
#fill NA
def fillna(table, col, method):
    if method == 'mean':
        table[col].fillna(np.mean(table[col]), inplace=True)
    elif method== 'med':
        table[col].fillna(np.median(table[col]), inplace=True)
    elif method == 'mod':
        table[col].fillna(stats.mode(table[col]), inplace=True)    
    else:
        print('Method not defined')
        
#change Type to Datetime
def col_to_datetime(table, col):
    table[col] = pd.to_datetime(table[col], errors='coerce')
    
#Clean Table
def clean_table(table):  
    table.drop(['Unnamed: 0'], axis=1, inplace=True)
    table.columns= table.columns.str.lower().str.replace(' ', '_')
    col_to_datetime(table, 'effective_to_date')
    fillna(table, 'state', 'mod')
    fillna(table, 'response', 'mod')
    fillna(table, 'vehicle_class', 'mod')
    fillna(table, 'vehicle_size', 'mod')
    fillna(table, 'months_since_last_claim', 'mean')
    fillna(table, 'number_of_open_complaints', 'mean')
    table['vehicle_type'].fillna('Unknown', inplace=True)

In [98]:
cus_anlys_r2_ = pd.read_csv('./csv_files/marketing_customer_analysis.csv')
clean_table(cus_anlys_r2_)
cus_anlys_r2_.isna().sum()

customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
dtype: int64